.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000;
}

.playerWrapper {
  position: relative;
  width: 100%;
  flex: 1;
  background-color: #000;
}

.player {
  width: 100%;
  height: 100%;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.placeholderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.placeholderIcon {
  font-size: 4rem;
  opacity: 0.3;
}

.placeholderText {
  font-size: 1.1rem;
  color: #888;
  text-align: center;
}
